#comment
  padding 20px
  background #fff
  box-shadow 1px 2px 3px #ddd
  margin-bottom 50px
  .title
    margin-bottom 15px
    font-size 22px
    font-weight 400
    font-family 'Segoe UI Light', 'Microsoft Jhenghei'
    text-shadow 1px 1px 1px #D1CDCD